*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../image/Lua.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

.header{
    display: flex;
    justify-content:flex-end;
    height: 70px;
    align-items: center;
    margin-bottom: 50px;
}

.button{
    padding: 10px;
    background-color: transparent;
    border: 1px solid #eee;
    color: white;
    width: 100px;
    border-radius: 5px;
    transition:  background 100ms linear;
    cursor: pointer;
}

.button:hover{
    background-color:  #eee;
    color:  #222;
}

.text-white{
    color: #eee;
}


// navbar
.d-flex{
    display: flex;
}
.list{
    list-style: none;
    width: 500px;
}
.list-item{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    border-top: 0;
    border-bottom: 0;
    flex-grow: 1;
    text-align: center;
    transition: background 100ms linear;
}
.list-item:hover{
    color: #222;
    background-color: #eee;
}

//main

.main{
    display: flex;
}

.card{
    border-radius: 5px;
    background-color: #eee;
    margin: 0 10px 0 10px;
    padding: 20px;
    box-sizing: border-box;
}
.text{
    font-size: 20px;
    line-height: 30px;
}

.grow-1{
    flex-grow: 1;
}
.grow-2{
    flex-grow: 2;
}

.content{
    margin: 10px 0 10px 0;
}